@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,800);

body {
   background: url(../assets/img/background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #fff;
}

.wrapper {
   height: 100%;
   position: relative;
}

.header {
   padding: 22px 22px 0 22px;
   // .header__inner

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   // .header__burger-link

   &__burger-link {}

   // .header__burger-src

   &__burger-src {}

   // .header__buttons

   &__buttons {
      display: flex;
      gap: 10px;
   }

   // .header__btn

   &__btn {
      font-size: 20px;
      line-height: 27px;
      background: transparent;
      border-radius: 10px;
      border: 1px solid #FFFFFF;
      color: #fff;
      padding: 6px 19px;
      transition: .2s;
      &:hover{
         border: 1px solid transparent;
         background-color: #fff;
         color: #000;
      }
   }
}

.main {
   display: flex;
   justify-content: center;
   // .main__inner

   &__inner {
      padding: 30px 0 0 0;
   }

}

.intro {

   // .intro__title

   &__title {
      font-size: 100px;
      line-height: 117px;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
   }

   // .intro__subtitle

   &__subtitle {
      text-align: center;
      font-size: 20px;
      line-height: 27px;
      margin: 0 0 80px 0;
   }
}

.google {

   // .google__input-area

   &__input-area {
      margin: 0 auto;
      position: relative;
      width: 655px;
   }

   // .google__input

   &__input {
      width: 100%;
      border-radius: 80px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      padding: 22px;
      font-size: 20px;
      line-height: 27px;
      margin: 0 auto 20px;

      &::placeholder {
         color: rgba(189, 189, 189, 0.8);
      }
   }

   // .google__button

   &__button {
      cursor: pointer;
   }

   // .google__search-icon

   &__search-icon {
      position: absolute;
      right: 22px;
      top: 22px;
      cursor: pointer;
   }

   // .google__nav

   &__nav {}
}

.google-list {
   display: flex;
   justify-content: center;
   gap: 10px;
   // .google-list__item

   &__item {}

   // .google-list__link

   &__link {
      color: #fff;
      font-size: 20px;
      &:hover{
         text-decoration: underline;
      }
   }
}

.footer {
   position: absolute;
   bottom: 22px;
   padding: 0 22px;
   width: 100%;
   // .footer__inner

   &__inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   // .footer__icons

   &__icons {
      display: flex;
      gap: 16px;
   }

   // .footer__soc-link

   &__soc-link {}

   // .footer__link

   &__link {
      font-size: 15px;
      line-height: 20px;
      color: #fff;
      &:hover{
         text-decoration: underline;
      }
   }
   // .footer__ic
   &__ic{
      max-width: 100%;
      transition: 1s;
      &:hover{
         transform: rotate(360deg);
      }
   }
}


@media(max-width:768px){
   .google__input-area{
      width: 540px;
   }
   .google-list__link{
      font-size: 16px;
   }
}

@media(max-width:577px){
   .google__input-area{
      width: 465px;
   }
   .header__btn{
      font-size: 25px;
   }
   .header__burger-link{

   }
   .header__burger-src{
      height: 40px;
   }
   .intro__title{
      font-size: 80px;
   }
   .intro__subtitle{
      font-size: 22px;
      margin: 0 0 70px 0;
   }
   .google__nav{
      display: none;
   }
   .footer__inner{
      justify-content: center;
   }
   .footer__icons{
      gap: 67px;
   }
   .footer__ic{
      height: 42px;
   }
   .footer__link{
      display: none;
   }
   .main__inner{
      padding: 85px 0 0 0;
   }
}

@media(max-width:507px){
   .google__input-area{
      width: 395px;
   }
}

@media(max-width:435px){
   .google__input-area{
      width: 333px;
   }
}

@media(max-width:360px){
   .google__input-area{
      width: 310px;
   }
   .header__btn {
      font-size: 20px;
  }
}